@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  color: #2d2d2d;
}

/* BTN */
.btn {
  @apply py-[5px] px-4 rounded-lg flex transition-colors font-bold;
}

.btn-lg {
  @apply !py-[9px];
}

.btn-text {
  @apply bg-grayIndeed;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-primary:hover {
  @apply bg-primaryHover;
}

.btn-white {
  @apply border border-grayIndeed text-primary;
}

.btn-full {
  @apply w-full flex justify-center py-[9px];
}

.btn-white:hover {
  @apply border-primary bg-[#eef1fe];
}

.auth-card {
  @apply max-w-[430px] mx-auto rounded border border-grayIndeed p-6 w-full;
}

/* FORM */
.form-control {
  @apply block;
}

.form-field {
  @apply w-full py-[9px] px-3 border border-[#2d2d2d] rounded-lg mt-2 active:border-primary;
}

.form-control span {
  @apply font-bold;
}

.form-control span i {
  @apply text-red-500 !text-sm;
}

.form-control .helper {
  @apply text-sm;
}

.form-control div.css-13cymwt-control {
  @apply border-none;
}

.form-control div.css-13cymwt-control input {
  @apply border-none outline-none;
}

.form-control div.css-13cymwt-control {
  @apply border-none;
}

.form-control span.css-1u9des2-indicatorSeparator {
  display: none;
}
